<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  </head>
  <body>
    <div class="container">
      <h4>出退勤入力</h4>
      <div class="card-panel">
        <form>
          <div class="input-field">
            <%
              var list = '<select id="name" name="name" required>';
              list += '<option value="" disabled selected></option>';
              for(var i=0; i<employee.length; i++) {
                list += '<option value="'+ employee[i].name +','+ employee[i].wage +'">'+ employee[i].name +'</option>';
              }
              list += '</select>'
            %>
            <%- list %>
            <label>名前</label>
          </div>
          <div class="input-field"><input type="date" name="date" required><label class="active">日付</label></div>
          <div class="input-field"><input type="time" name="start" required><label class="active">開始時刻</label></div>
          <div class="input-field"><input type="time" name="end" required><label class="active">終了時刻</label></div>
          <button type="button" class="btn waves-effect waves-light orange darken-1" onclick="submitattend()">登録</button>
          <button type="button" class="btn waves-effect waves-light blue darken-1"  onclick="window.location.href='/'">戻る</button>
        </form>  
      </div>
      <div id="result" class="deep-orange-text"></div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
      $(document).ready(function(){
        $('select').formSelect();
        $("select[required]").css({display: "inline", height: 0, padding: 0, width: 0});
      });
      function submitattend() {
        if (! $('form')[0].reportValidity()) {
          return false;
        }
        $.post( '/addattend', $('form').serialize() )
        .done(function( data ) {
          if(data=='success') {
            window.location.reload();
          } else {
            $( "#result" ).html( data );
          }
        });
      }
    </script>
  </body>
</html>
